body{
    margin: 0%;
    padding: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    position: fixed;
    background-color: rgb(39, 39, 39);
    width: 100%;
    
}
h3{
    display: inline-block;
    color: white;
    position: relative;
    left: 10px;
    font-weight: lighter;
    width: 20%;
}
header>div{
    display: inline-block;
    position: relative;
    left:7px;
    bottom: 4px;
    width: 79%;
}
nav{
    position: fixed ;
    top:62px;
    width: 21%;
    color: rgb(71, 71, 71);
    border-right: 1px solid rgb(218, 218, 218) ;
}
ul{
    list-style: none;
    font-size: 14px;
    font-weight: 600;
}

li{
    padding: 2%;
    padding-bottom: 5%;
}
li:hover{
    cursor: pointer;
    font-weight: 800;
}

section{
    position: relative;
    top: 62px;
    left: 287px;
    padding-right:1% ;
}

h1{
    display: inline-block;
    margin-left: 3%;
    font-weight: 500;
    font-size: xx-large;
}
table { 
    border-spacing: 100px 10px;
} 
